.ppl29_loaded {
	.ddl-overlay {
		width: 100%;
		height: 100%;
		background: rgba(0, 0, 0, .7);
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: none;
		z-index: 99999;

		.close {
			transition: color .25s ease-in, background .25s ease-in;
			right: 0;
			top: 20px;
			text-align: center;
			background: #fff;
			color: #e30027;
			text-decoration: none;
			font-size: 1.8em;
			padding: 10px 10px 5px;
			position: absolute;
			display: block;
			z-index: 2;
			border: none;
			border-radius: 0;
			cursor: pointer;
			outline: 0;

			@media (min-width: 43.75em) {
				top: calc(50% - 226px);
			}

			@media (min-width: 50em) {
				right: calc(50% - 353px);
				top: calc(50% - 251px);
			}
		}

		.how-it-works-intro__video-iframe {
			display: block;
			position: absolute;
			// top: 50%;
			// left: 50%;
			// transform: translate(-50%, -50%);
			width: 100%;
			height: 300px;
			left: 0;

			@media (min-width: 43.75em) {
				height: 350px;
				top: calc(50% - 175px);
				left: calc(50% - 355px);
			}

			@media (min-width: 50em) {
				height: 400px;
				top: calc(50% - 200px);
				width: 709px;
			}

			@media (max-width: 700px) {
				top: 75px;
			}
		}
	}
	.ddl-bold {
		font-weight: bold;
	}

	.ddl-click-ev {
		text-decoration: underline;
		color: blue;
		cursor: pointer;
	}

	.ddl-show {
		display: block;
	}
}
